graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini .travis.yml .pre-commit-config.yaml pytest.ini requirements.txt

global-include src src/*.py

global-exclude *.py[cod] __pycache__ *.so *.dylib *.html *.md *.css *.eot *.ico *.js *.map *.png *.svg *.ttf *.woff *.xml site site/* .pytest_cache .pytest_cache/* .tox .tox/* dist dist/*
